.page {
  font-family: 'IBM Plex mono', arial, sans-serif;
  background-color: var(--background-color);
  color: var(--main-text-color);
  margin: 0 auto;
  line-height: 23.4px;
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--background-image);
}

.text-accent {
  cursor: pointer;
  text-decoration: none;
  color: var(--main-text-color);
  text-shadow: 2px 2px var(--header-background-color);
  border: 1px solid transparent;
}

.text-accent:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.text-accent:focus {
  outline: none;
  border: 1px solid var(--main-text-color);
}

main {
  font-size: 18px;
  text-wrap: wrap;
}

.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  right: 10px;
  top: 10px;
}

.header::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  left: 10px;
  bottom: 10px;
}

.header-main-title {
  position: relative;
  display: block;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-wrap: wrap;
  padding: 0 10px 0 10px;
  padding-block-start: 36vh;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 95.7px;
  text-shadow: 4px 4px var(--title-shedow-color);
}

.header-title {
  position: relative;
  display: block;
  text-wrap: wrap;
  background-color: var(--title-h3-h4-bgcolor);
  color: var(--title-h3-h4-txtcolor);
  margin: 0 10px 0 10px;
  margin-top: 8vh;
  line-height: 23.4px;
}

.header__theme-menu-list {
  position: absolute;
  margin-block-start: 10.8vh;
  margin-inline-start: calc(80% - 5px);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 11px;
}

.header__theme-menu-button {
  font-size: 18px;
  text-transform: lowercase;
  background-color: rgb(1, 1, 1, 0%);
  border: 1px solid transparent;
  color: var(--title-h2-color);
  padding: 0 14px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--border-color);
}

.header__theme-menu-button:default {
  border: 1px solid var(--page-border-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--page-border-color-hover);
}

.header__theme-menu-button:focus {
 outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--page-border-color);
  padding: 1px 15px 0px 15px;
}

section {
  margin: 30px 10px 50px 10px;
}

.section-why-so-hard_title-main {
  margin-top: 40px;
}

.section-why-so-hard_title {
  margin-top: 20px;
}

.section-why-so-hard_text {
  margin-top: 10px;
}

.section-concentrate_title {
  margin-bottom: 10px;
}

.articles {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.articles-title {
  margin-top: 10px;
}

.article-text {
  margin-top: 10px;
}

.section-how-concentrate_main-title {
  margin: 20px 0 20px 0;
}

.section-how-concentrate_text {
  margin-top: 10px;
}

.section-with-pictures {
  margin-bottom: 40px;
}

.pictures-title {
  background-color: var(--title-h3-h4-bgcolor);
  color: var(--title-h3-h4-txtcolor);
  margin-top: 50px;
}

.images-in-section {
  display: flex;
  flex-direction: column;
  margin-block-start: 10px;
  gap: 10px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.footer::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  right: 10px;
  top: 10px;
}

.footer::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  left: 10px;
  bottom: 10px;
}

.footer-title {
  display: block;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  margin: auto;
  color: var(--title-text-color);
  text-shadow: 2px 2px var(--title-shedow-color);
}

@media (width > 767.99px) {
  .header::before {
    right: 20px;
    top: 20px;
  }

  .header::after {
    left: 20px;
    bottom: 20px;
  }

  .header__theme-menu-list {
    margin-block-start: 18.6vh;
    margin-inline-start: calc(90% - 12px);
  }

  .header-main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    padding: 0;
    margin-top: 0;
    padding-block-start: 45.5vh;
  }

  .header-title {
    display: flex;
    margin: 15.8vh 20px 0 50%;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  section {
    margin: 60px 20px 0px 20px;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32%);
    gap: 20px;
  }

  .section-why-so-hard_title-main {
    width: calc(33vw - 20px);
    margin-top: 0;
  }

  .section-why-so-hard_title {
    margin-top: 0;
  }

  .section-why-so-hard_text {
    margin-bottom: 20px;
  }

  .section-concentrate_title {
    width: calc(33% - 20px);
    margin-top: 0;
  }

  .section-how-concentrate {
    margin-top: 80px;
  }
  
  .section-how-concentrate_main-title {
    margin-top: 0;
  }

  .section-how-concentrate_title {
    margin-top: 20px;
  }

  .section-content {
    grid-column-start: 2;
    grid-column-end: last-line;
  }

  .section-with-pictures {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .pictures-title {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .images-in-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33%);
    grid-template-areas: 'a a b' 'c d b' 'c e e';
    gap: 20px;
  }

  .item-1 {
    grid-area: a;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-2 {
    grid-area: b;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-3 {
    grid-area: c;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-4 {
    grid-area: d;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-5 {
    grid-area: e;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer::after {
    right: 20px;
    top: 20px;
  }

  .footer::before {
    left: 20px;
    bottom: 20px;
  }
}

@media (width > 1023.99px) {
  .header__theme-menu-list {
    position: relative;
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-left: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
  }

  .header-main-title {
    padding-block-start: 38vh;
  }

  .header-title {
    margin: 16.9vh 20px 0 50%;
  }

  .section-why-so-hard_title-main {
    width: 33vw;
  }

  .section-concentrate_title {
    width: 33%;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32%);
    gap: 19px;
  }
}