:root {
  --main-text-color: #353430;
  --header-text-color: #353430;
  --header-background-color: #FF8DCB;
  --background-color: #FFF1F7;
  --title-text-color: #FFC2E6;
  --title-h2-color: rgba(53, 52, 48, 1);
  --title-h3-h4-bgcolor: rgba(255, 141, 203, 1);
  --title-h3-h4-txtcolor: rgba(53, 52, 48, 1);
  --title-shedow-color: #FF0070;
  --page-border-color: #353430;
  --page-border-color-hover: rgba(50, 49, 45, 0.4);
  --border-color: rgba(53, 52, 48, 1);
  .header {
    background-image: url('../images/cover-image-light.png');
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --main-text-color: #F1B2CE;
    --header-text-color: #000028;
    --header-background-color: #FF0070;
    --background-color: #000028;
    --title-text-color: #DB00FF;
    --title-h2-color: rgba(255, 0, 112, 1);
    --title-h3-h4-bgcolor: rgba(255, 0, 112, 1);
    --title-h3-h4-txtcolor: rgba(0, 0, 40, 1);
    --title-shedow-color: #FF0070;
    --page-border-color: #FF0070;
    --page-border-color-hover: rgba(255, 0, 112, 0.4);
    --border-color: rgba(255, 0, 112, 1);
  
    .header {
      background-image: url('../images/cover-image-dark.png');
    }

    .header__theme-menu::before {
      content: 'REC';
      position: absolute;
      font-size: 18px;
      font-weight: 400;
      right: 38px;
      top: 10px;
      color: var(--border-color);
    }
  
    .header__theme-menu::after {
      content: '';
      position: absolute;
      display: block;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0px 0px 4px 2px var(--border-color);
      height: 9px;
      width: 9px;
      right: 19px;
      top: 18px;
      background-color: var(--border-color);
    }
  }
}
@media (width > 767.99px) {
  .header::before {
    right: 20px;
    top: 20px;
  }

  .header::after {
    left: 20px;
    bottom: 20px;
  }

  .header__theme-menu-list {
    margin-block-start: 18.75vh;
    margin-inline-start: calc(90% - 51px);
  }

  .header-main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    padding: 0;
    margin-top: 0;
    padding-block-start: 45.5vh;
  }

  .header-title {
    display: flex;
    margin: 15.8vh 20px 0 50%;
  }

  .footer-title {
    font-size: 120px;
  }

  section {
    margin: 60px 20px 80px 20px;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32%);
    gap: 20px;
  }

  .section-1-title__main {
    width: calc(33vw - 20px);
    margin-top: 0;
  }

  .section-1-title {
    margin-top: 0;
  }

  .section-1-text {
    margin-bottom: 20px;
  }

  .section-2-title {
    width: calc(33% - 20px);
  }

  .section-3-title {
    margin: 0;
  }

  .section-content {
    grid-column-start: 2;
    grid-column-end: last-line;
  }

  .section-4 {
    margin-bottom: 60px;
  }

  .pictures-title {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .images-in-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32%);
    grid-template-areas: 'a a b' 'c d b' 'c e e';
    gap: 20px;
  }

  .item-1 {
    grid-area: a;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-2 {
    grid-area: b;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-3 {
    grid-area: c;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-4 {
    grid-area: d;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-5 {
    grid-area: e;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer::after {
    right: 20px;
    top: 20px;
  }

  .footer::before {
    left: 20px;
    bottom: 20px;
  }
}

@media (width > 1023.99px) {
  .header__theme-menu-list {
    position: relative;
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-left: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
  }

  .header-main-title {
    padding-block-start: 36vh;
  }

  .header-title {
    margin: 16.7vh 20px 0 50%;
  }

  .section-1-title__main {
    width: 33vw;
  }

  .section-2-title {
    width: 33%;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32%);
    gap: 19px;
  }

  .footer-title {
    font-size: 157px;
    line-height: 129.53px;
  }
}